@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');



.containerutama{
    background: linear-gradient(#4982b4,#00FFFF,#00FA9A);
    height: 100vh;
}

.container{
    justify-content: center;
}

nav .navbar-brand{
    padding: 20px;
    color: black;
    font-size: large;
    font-weight: bold;
}

nav .navbar-nav{
    padding-right: 20px;
}

.navbar-nav ul{
    list-style: none;
}
nav .navbar-nav a{
    margin: 20px;
    color: black;
    font-size: large;
    font-weight: bold;
}

/* info */
.text-center .rounded{
    margin: 50px auto;
} 

h2{
    font-family: 'Mochiy Pop P One', sans-serif;
}


/* galleri */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255,0.9); 
}

.caption{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail:hover{
    transform: translateY(-4px);
}
.img-container:hover .overlay{
    opacity: 1;
}

.end{
    background-color: black;
    color: whitesmoke;
    padding: 50px;
}

.carousel{
    margin-top: 150px;
}






