@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');



.containerutama{
    background: linear-gradient(#4982b4,#00FFFF,#00FA9A);
    max-width: 100%;
    height: 100vh;
}

.container{
  
    justify-content: center;
}

nav .navbar-brand{
    padding: 20px;
    color: black;
    font-size: large;
    font-weight: bold;
}

nav .navbar-nav{
    padding-right: 20px;
}

.navbar-nav ul{
    list-style: none;
}
nav .navbar-nav a{
    margin: 20px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.text-center .rounded{
    margin: 50px auto;
   
} 
.data{
    font-family: 'Mochiy Pop P One', sans-serif;
}
h2{
    font-family: 'Mochiy Pop P One', sans-serif;
}


/* galleri */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255,0.9); 
}

.caption{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail:hover{
    transform: translateY(-4px);
}
.img-container:hover .overlay{
    opacity: 1;
}

@media (min-width: 576px) { 

/* .container{
    margin-top: 15vh;
    width: auto;
} */

.data{
    font-size: 10px;
    /* padding-left: 50px;  */
    
}

.data p{
    font-size: 15px;
    padding-top: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
    }
}


.carousel{
    margin-top: 20vh ;
    /* padding: 10px; */
}


.title{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 20px;
}
li{
    font-family: 'Mochiy Pop P One', sans-serif;
}

.btn{
    margin: 20px;
   
}


.text{
    margin: 20px auto;
    font-size: 50px;
    font-weight: bold;
}

.about{
    min-height: 550px;
}
.about .row .col-md-7{
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 50px;
}



.end{
    background-color: black;
    color: whitesmoke;
    padding: 50px;
}






